.poster-section{
    display: flex;
    flex: 20%;
    float: left;
}

.content-section{
    display: flex;
    flex: 60%;
    float: left;
}

.rating-section{
    display: flex;
    flex: 20%;
    float: left;
}

.back-to-home{
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
}

.common-margin-field{
    margin-top: 16px;
}

.artists-label{
    margin-top: 16px;
    margin-bottom: 16px;
}